body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px; 
    background-color: #F3F4EC;
}


table.external{
    border: 1px solid gray;
    border: 1px #787878 solid;
    border-spacing: 0px; 
}

.internal {
    border: 1px solid #F3F4EC;
    border-spacing: 0px;
}


.ext-tr {
    border: 1px solid #F3F4EC;
    border-spacing: 0px;
}

.ext-td {
    border: 1px solid #F3F4EC;
    border-spacing: 0px;
}

.cell1 {
    font-size: 20px; 
    background-color: #CCCFBC;
    border: 1px solid #A8A8A8; 
    text-align: center;
    font-weight: bold;
    font-family: Verdana;
    width:25px;
    padding:1px;
    color: black;
}

.cell2 {
    font-size: 20px; 
    background-color: #A37B45;
    border: 1px solid #A8A8A8; 
    text-align: center;
    font-weight: bold;
    font-family: Verdana;
    width:25px;
    padding:1px;
    color: black;
}
